body {
    background: gold;
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
}

.marquee .marquee-track img {
    height: 300px;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 300px;
    overflow-x: hidden;
}

.marquee-track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 200s linear infinite;
    width: 5000px; /* evil hard-coded value, slightly larger than width of one iteration */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    0% {
        transform: translateX(0);
    }
}