body {
    font-family: 'Creepster', serif;
    text-align: center;
    color: orangered;
    background: black;
}

h2 {
    font-size: 56px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 35px;
}

h4 {
    line-height: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
}

marquee {
    font-size: 14px;
    line-height: 10px;
}

img {
    max-width: 80vw;
}