body {
    font-family: monospace;
    text-align: center;
    background: white;
    color: black;
}

h2 {
    font-size: 46px;
    margin-bottom: 5px;
    margin-top: 0px;
}

h3 {
    line-height: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 32px;
}

h4 {
    margin: 0;
    font-size: 20px;
}

marquee {
    color: white;
    font-size: 14px;
    line-height: 10px;
}

img {
    max-width: 80vw;
}

p {
    font-size: 20px;
    color: gray;
}